#loading {
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    position: absolute;
    /* left: 25%; */
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 1s ease;
}
.svg-container {
    width: 150px;
    height: 150px;

    /* border: 1px solid #3F51B5; */
}
#maintance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #E8EAF6, #FFF);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .card {
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 320px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  }

  .card img {
    width: 100px;
    height: 90px;
    margin-bottom: 15px;
    border-radius: 50%; /* Optional jika ingin gambar bulat */
    /* border: 2px solid #3F51B5; Bingkai gambar */
    padding: 5px;
    background: #E8EAF6;
  }

  .card h4 {
    font-size: 16px;
    color: #333;
    margin: 0;
    line-height: 1.5;
  }
  .card p {
    font-size: 10px;
    color: #555;
    margin: 0;
    line-height: 1.5;
  }
.clip-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: lightblue;
    clip-path: url(#clipPath1);
    overflow: hidden;
    /* Hide overflow outside the clipped area */
}

#clipPath1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.loading_1 {
    left: 0;
    bottom: -0%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../assets/component/loading_1.svg');
    background-size: 200%;
    background-repeat: repeat-x;
    background-position-y: 60%;
    animation: loading-1 5s linear forwards;
}

.loading_2 {
    left: 0;
    bottom: -0%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../assets/component/loading_2.svg');
    background-size: 200%;
    background-repeat: repeat-x;
    background-position-y: 65%;
    animation: loading-2 5s linear forwards;
}

#maintance {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    position: absolute;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes loading-1 {
    100% {
        background-position-y: 30%;
        background-position-x: -50%;
    }

    30% {
        background-position-x: 60%;
        background-position-y: -10%;
    }

    0% {
        background-position-y: -75%;
        background-position-x: 100%;
    }
}

@keyframes loading-2 {
    100% {
        background-position-y: 30%;
        background-position-x: 100%;
    }

    30% {
        background-position-x: 60%;
        background-position-y: -10%;

    }

    0% {
        background-position-y: -75%;
        background-position-x: 0%;
    }
}

/* @media screen and (max-width: 768px) {
    #maintance {
        display: flex;
    }
    #content{
        display: none;
    }
    #main{
        display: none;
    }
    main{
        display: none;
    }
    body{
        background-color: #fff;
    }
} */
